/* src/components/MovieInfoCard.css */
.movie-info-card {
  background-color: #93929242;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.movie-info-title {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.movie-info-body {
  display: flex;
  align-items: flex-start;
}

.movie-info-poster {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.movie-info-summary {
  flex: 1;
  font-size: 1.1em;
  line-height: 1.6;
}

.movie-info-rating {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
  color: #eeece2;
}

