/* src/components/Header/Header.css */
.search-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 125px;
    background: #080924;
}

.logo-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;  /* Adjust size as needed */
    height: auto;
    margin-right: -10px;  /* Space between logo and title */
    border: none;  /* Remove any default border */
    padding: 0;  /* Remove any default padding */
}

.site-title {
    font-size: 2rem;  /* Adjust size as needed */
    margin: 0;
}
