.search-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #080823, #080823); /* Adjusted gradient to match body */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the header stays on top of other content */
    
}

.logo-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;  /* Adjust size as needed */
    height: auto;
    margin-right: 10px;  /* Space between logo and title */
}

.site-title {
    font-size: 2rem;  /* Adjust size as needed */
    margin: 0;
}
