/* src/components/SearchForm/SearchForm.css */
.search-form {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #080823, #101030, #333366);
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    transition: margin 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.search-form:hover,
.search-form:focus-within {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.247);
}

.search-input,
.search-button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-input {
    flex-grow: 1;
    border-radius: 50px 0 0 50px;
}

.search-input::placeholder {
    color: #ccc;
}

.search-button {
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover,
.search-button:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Hover effect for icon-only form */
@media (max-width: 768px) {
    .search-form {
        margin-left: 0;
        max-width: 100%;
    }

    .search-input {
        display: none;
    }

    .search-form:not(.expanded) .search-button:hover,
    .search-form:not(.expanded) .search-button:focus {
        border-radius: 50px; /* Make all sides rounded */
    }

    .search-form.expanded .search-input {
        display: block;
        width: calc(100% - 50px); /* Adjust the width here */
        border-radius: 50px;
        margin-left: 10px;
    }

    .search-input::placeholder {
        font-size: 17px; /* Adjust as needed */
    }
}

@media (max-width: 576px) {
    .search-form {
        margin-left: 15px;
        max-width: 100%;
    }

    .search-input {
        display: none;
    }

    .search-form:not(.expanded) .search-button:hover,
    .search-form:not(.expanded) .search-button:focus {
        border-radius: 50px; /* Make all sides rounded */
    }

    .search-form.expanded .search-input {
        display: block;
        width: calc(100% - 50px); /* Adjust the width here */
        border-radius: 50px;
        margin-left: 10px;
    }

    .search-input::placeholder {
        font-size: 15px; /* Adjust as needed */
    }
}
